extensions:
	dbal.console: Baraja\Doctrine\DBAL\DI\DbalConsoleExtension
	orm: Baraja\Doctrine\ORM\DI\OrmExtension
	orm.console: Baraja\Doctrine\ORM\DI\OrmConsoleExtension
	orm.annotations: Baraja\Doctrine\ORM\DI\OrmAnnotationsExtension
	baraja.database: Baraja\Doctrine\DatabaseExtension

orm:
	entityManagerClass: Baraja\Doctrine\EntityManager

orm.annotations:
	paths: []
	ignore: []
