parameters:
	database:
		primary: [] # deprecated since 2020-09-10

extensions:
	dbal.console: Baraja\Doctrine\DBAL\DI\DbalConsoleExtension
	orm: Baraja\Doctrine\ORM\DI\OrmExtension
	orm.console: Baraja\Doctrine\ORM\DI\OrmConsoleExtension
	orm.annotations: Baraja\Doctrine\ORM\DI\OrmAnnotationsExtension
	baraja.database: Baraja\Doctrine\DatabaseExtension

orm:
	entityManagerClass: Baraja\Doctrine\EntityManager

baraja.database:
	debug: %debugMode%
	deprecatedParameters: %database.primary%
	types:
		uuid: Baraja\Doctrine\UUID\UuidType
		uuid-binary: Baraja\Doctrine\UUID\UuidBinaryType
	propertyIgnoreAnnotations:
		- sample
		- endpointName

orm.annotations:
	paths: []
	ignore: []
