parameters:
	ignoreErrors:
		- '#Constant TEMP_DIR not found#'
		- '#Constant TEST_DIR not found#'
		- '#Parameter \#1 \$firstResult of method [^\s]+::setFirstResult\(\) expects int, (int\|)?null given#'
		- '#Method Doctrine\\DBAL\\Driver\\Connection::query\(\) invoked with \d+ parameter, 0 required#'
		- '#Call to an undefined method Serializable::__sleep\(\).#'
		- '#Call to an undefined method Serializable::__wakeup\(\).#'
		- '#Access to an undefined property Nette\\Http\\SessionSection::\$entity#'
		- '#Call to an undefined method object::getId\(\)#' # class SimpleParameterFormatter

		# console
		- '#Constant TEMP_DIR not found#'
		- '#Class Nette\\Framework not found#'
		# Nette events are not annotated
		- '#Call to an undefined method Nette\\Application\\Application::onShutdown\(\)#'
		# it does, it just isn't annotated
		- '#Static property Tracy\\Dumper::\$terminalColors \(mixed\[\]\) does not accept false#'
		# intentional
		- '#Constructor of class KdybyTests\\Console\\.*?Command.*? has an unused parameter *.?#'